<p style="color: green"><%= notice %></p>

<h1>Municipes</h1>

<div id="municipes">
  <% @municipes.each do |municipe| %>
    <%= render municipe %>
    <p>
      <%= link_to "Show this municipe", municipe %>
    </p>
  <% end %>
</div>

<%= link_to "New municipe", new_municipe_path %>


<div class="box">
  <div class="box-header">
    <h2><i class="fa fa-file"></i><strong></strong></h2>
  </div>
  <div class="box-content">
    <table class="table table-striped table-bordered text-white">
      <thead>
        <tr>
          <th>Data</th>
          <th>Nome do Arquivo</th>
          <th>Situação</th>
          <th>Gerente</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
    </div>
  </div>
</div>
