<div class="card shadow-sm text-black">
  <div class="card-header bg-transparent border-0">
    <h2>Novo Munícipe</h2>
  </div>
  <div class="card-body align-items-center">
    <%= render "form", municipe: @municipe %>
  </div>
</div>
